body
{
    background: url(https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
}
.opacity_box
{
    width: 600px;
    margin: 8% 6%;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
}
h1,p,a
{
    width: 90%;
    margin: 20px 30px 10px 30px;
    display: flex;
}
a:link
{   
    width: 150px;
    height: 30px;
    text-decoration: none;
    background-color: #DB3030;
    text-align: center;
    color: white;
    justify-content: center;
    padding-top: 2%;
    margin-bottom: 30px;
}
a:visited
{
    color: white;
}
@media all and(max-width: 600px)
{
    .opacity_box
    {
        width: 600px;
    }
}